@model PagedList.IPagedList<AplicacionWebMVC.Models.DetallesUsuarios2>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListaEmpleados";
}
@section Scripts
{
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut(100);
            }, 1000);
        });
    </script>
}

@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}
<div class="loader"></div>
<h2>Lista de Usuarios</h2>
<table class="table">
    <tr>
        <th style="text-align: center;">
            Id de empleado
        </th>
        <th style="text-align: center;">
            Nombre de usuario
        </th>

        <th style="text-align: center;">
            Departamento
        </th>
        <th style="text-align: center;">
            Rol
        </th>
        <th style="text-align: center;">
            Rol actual
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.idEmpleado)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.departamento)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.Usuarios.Role)
        </td>
        <td style="text-align: center;">
            @Html.ActionLink(" ", "Ascender", new { id = item.idEmpleado, username = item.username }, new { @class = "btn btn-success glyphicon glyphicon-chevron-up" })
            @Html.ActionLink(" ", "Descender", new { id = item.idEmpleado, username = item.username }, new { @class = "btn btn-danger glyphicon glyphicon-chevron-down" })
        </td>
    </tr>
    }

</table>

Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListaEmpleados", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
