@model AplicacionWebMVC.Models.Usuarios
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut(100);
            }, 1000);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/checkbox.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/departamento.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/registroUsuarios.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/sweetalert.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/departamento.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/registro.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/empleado.js")"></script>

}

@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}
<div class="loader"></div>
<h2>Registro de usuario</h2>
<div id="departamentos2URL" data-request-url="@Url.Action("GetDepartamentos2", "Departamentos")"></div>
<div id="registroURL" data-request-url="@Url.Action("Registro", "Home")"></div>
<div id="empleadosURL" data-request-url="@Url.Action("GetEmpleados", "Empleados")"></div>
<form id="myForm" action="" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombreUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreUsuario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.idEmpleado, "ID del Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idEmpleado, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.idEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.contrasena, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.registradoPor, "Registrado por", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.registradoPor, new { htmlAttributes = new { @class = "form-control", @Value = HttpContext.Current.User.Identity.Name, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.registradoPor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.departamento, "Depto", htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                <select id="departamento" class="form-control addDepto" name="departamento"></select>
                @Html.ValidationMessageFor(model => model.departamento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("", "Deptos a cargo", htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                <select id="depCargo" class="form-control addDepto" name="depCargo"></select>
                @Html.ValidationMessageFor(model => model.departamento, "", new { @class = "text-danger" })
                <div class="col-md-10" id="divDep">
                </div>
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Role, "Rol", htmlAttributes: new { @class = "control-label col-md-2", @id = "selectRole" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Role, new List<SelectListItem>
                                                {
                                                                    new SelectListItem() {Text = "Administrador", Value="Admin"},
                                                                    new SelectListItem() {Text = "Empleado", Value="Empleado"},
                                                                    new SelectListItem() {Text = "Revisor 1", Value="Revisor1"},
                                                                    new SelectListItem() {Text = "Revisor 2", Value="Revisor2"}
                                                }, new { @class = "form-control" })

                <!--@Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })-->
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>


        <div id="divOpciones" class="form-group" style="display:none;">
            <label class="control-label col-md-2">Opciones extras</label>
            <div class="divOpciones">

                <label class="labelText">@Html.RadioButton("tipo", "Seguridad", new { @checked = true }) Seguridad</label>
                <label class="labelText">@Html.RadioButton("tipo", "Electrico") Electrico</label>
                <label class="labelText">@Html.RadioButton("tipo", "CapitalHumano") Capital humano</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Guardar" class="btn btn-default" id="guardarRegistro" />
            </div>
        </div>
    </div>
</form>
<div id="modalEmpleados" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Empleados</h4>
            </div>
            <div class="modal-body modalE">
                <div class="loaderE"></div>
                <div id="divE">
                    <div>
                        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="filterItem" placeholder="Id" id="idEmp" />
                        <input type="text" class="filterItem" placeholder="Nombre" id="nombreEmp" />
                        <input type="text" class="filterItem" placeholder="Apellido paterno" id="apellidoPEmp" />
                        <input type="text" class="filterItem" placeholder="Apellido materno" id="apellidoMEmp" />
                        <input type="text" class="filterItem" placeholder="RFC" id="rfcEmp" />

                        <button id="filterButton" name="search" class="btn btn-success btn-sm glyphicon glyphicon-search" />
                        <button id="refreshButton" name="refresh" class="btn btn-success btn-sm glyphicon glyphicon-refresh" />
                    </div>
                    <table id="gridEmp"></table>
                    <div id="pagerEmp"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
