
@model PagedList.IPagedList<AplicacionWebMVC.Models.Solicitud_Requisiciones>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Revision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">

        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut(100);
            }, 1000);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Main.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/gridDetalle.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/pdfmake.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/vfs_fonts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/detalleRequisicion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/imprimirPDF.js")"></script>
}

@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}
<div class="loader"></div>
<div id="solicitudURL" data-request-url="@Url.Action("GetSolicitud", "Home")"></div>
<div id="imprimirURL" data-request-url="@Url.Action("GetSolicitudImpimir", "Home")"></div>
<div id="ejercicioURL" data-request-url="@Url.Action("GetEjercicio", "Ejercicio")"></div>
<h2>Revision</h2>
<table class="table">
    <tr>
        <th style="text-align: center;">
            PreRequisición
        </th>
        <th style="text-align: center;">
            Departamento
        </th>
        <th style="text-align: center;">
            Uso
        </th>
        <th style="text-align: center;">
            Observaciones
        </th>
        <th style="text-align: center;">
            Ciclo
        </th>
        <th style="text-align: center;">
            Area
        </th>
        <th style="text-align: center;">
            Fecha Requisicion
        </th>
        <th style="text-align: center;">
            Fecha a necesitar
        </th>
        <th style="text-align: center;">
            Control
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center;">
                @Html.DisplayFor(modeltem => item.preRequisicion)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Departamentos.idDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observaciones)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.ciclo)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.fechaRequisicion)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.fechaNecesitar)
            </td>
            <td style="text-align: center;">
                @Html.ActionLink(" ", "Aprobar", new { preRequisicion = item.preRequisicion }, new { @class = "btn btn-success glyphicon glyphicon-ok" })
                @Html.ActionLink(" ", "RechazarSolicitud", new { preRequisicion = item.preRequisicion }, new { @class = "btn btn-danger glyphicon glyphicon-remove" })
                <a class="btn btn-info glyphicon glyphicon-info-sign" onclick="@("abrirDetalle('"+item.preRequisicion+"','"+item.departamento+"','"+item.ejercicio+"','"+item.uso+ "','" + item.ciclo + "')")"></a>
                <a class="btn btn-primary glyphicon glyphicon-print" onclick="@("ImprimirPDF('"+item.preRequisicion+"','"+item.departamento+"','"+item.ejercicio+"')")"></a>
            </td>
        </tr>
    }

</table>
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Revision", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <div id="modalDetalle" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalle</h4>
                </div>
                <div class="modal-body modalD">
                    <div class="loaderD"></div>
                    <div id="divD" style="display:none;">
                        <label for="lblPreReq">PreRequisicion :</label>
                        <p id="lblPreReq"></p>
                        <label for="lblUsoR">Uso :</label>
                        <p id="lblUsoR"></p>
                        <label for="lblCiclo">Ciclo :</label>
                        <p id="lblCiclo"></p>
                        <table id="gridDet"></table>
                        <div id="pagerDet"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>