@model PagedList.IPagedList<AplicacionWebMVC.Models.Solicitud_Requisiciones>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Invitaciones";
}
<script type="text/javascript">
    $(window).load(function () {
        setTimeout(function () {
            $(".loader").fadeOut(100);
        }, 1000);
    });
    var username = "@HttpContext.Current.User.Identity.Name";
    console.log(username);
</script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Main.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/gridDetalle.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/sweetalert.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/pdfmake.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/vfs_fonts.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/detalleRequisicion.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/imprimirPDF.js")"></script>
@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}
<div class="loader"></div>
<div id="solicitudURL" data-request-url="@Url.Action("GetSolicitud", "Home")"></div>
<div id="imprimirURL" data-request-url="@Url.Action("GetSolicitudImpimir", "Home")"></div>
<div id="ejercicioURL" data-request-url="@Url.Action("GetEjercicio", "Ejercicio")"></div>
<h2>Invitaciones</h2>
<table class="table">
    <tr>
        <th style="text-align: center;">
            Clave de requisición
        </th>
        <th style="text-align: center;">
            Fecha a necesitar
        </th>
        <th style="text-align: center;">
            Fecha de requisición
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.requisicion)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.fechaNecesitar)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.fechaRequisicion)
            </td>
            <td style="text-align: center;">
                <button class="btn btn-success glyphicon glyphicon-info-sign" onclick="@("abrirDetalle('"+item.preRequisicion+"','"+item.departamento+"','"+item.ejercicio+"','"+item.uso+ "','" + item.ciclo + "')")"></button>
                <a class="btn btn-primary glyphicon glyphicon-print" onclick="@("ImprimirPDF('"+item.preRequisicion+"','"+item.departamento+"','"+item.ejercicio+"')")"></a>
            </td>
        </tr>
    }

</table>
<div id="modalDetalle" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalle</h4>
            </div>
            <div class="modal-body modalD">
                <div class="loaderD"></div>
                <div id="divD" style="display:none;">
                    <label for="lblPreReq">PreRequisicion :</label>
                    <p id="lblPreReq"></p>
                    <label for="lblUsoR">Uso :</label>
                    <p id="lblUsoR"></p>
                    <label for="lblCiclo">Ciclo :</label>
                    <p id="lblCiclo"></p>
                    <table id="gridDet"></table>
                    <div id="pagerDet"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>