
@{
    ViewBag.Title = "Perfil";
}
<script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut(100);
            }, 1000);
        });
        var username = "@HttpContext.Current.User.Identity.Name";
        console.log(username);
</script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/cssP/perfilProveedor.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/sweetalert.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/vfs_fonts.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jsP/perfilProveedor.js")"></script>
@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}
<div class="loader"></div>
<div id="GetProveedorURL" data-request-url="@Url.Action("GetProveedor", "Proveedor")"></div>
<div id="UpdateProveedorURL" data-request-url="@Url.Action("ActualizarProveedor", "Proveedor")"></div>
<div class="jumbotron row" style="margin-top: 20px;">
    <h1 style="padding-left: 15px;">Información</h1>
    <form action="" name="infoPar" id="infoPar">
        <div class="div1 col-md-6">
            <label for="razSoc">Razón social <span id="errRazSoc" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="razSoc" id="razSoc" maxlength="255">

            <label for="RFC">RFC<span id="errRFC" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="RFC" id="RFC" maxlength="14" readonly>

            <label for="direccion">Dirección <span id="errDireccion" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="direccion" id="direccion" maxlength="60">

            <label for="telefono">Telefono <span id="errTelefono" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="telefono" id="telefono" maxlength="40">

            <label for="representante">Representante<span id="errRepresentante" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="representante" id="representante" maxlength="60">

        </div>
        <div class="div1 col-md-6">
            <label for="colonia">Colonia <span id="errColonia" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="colonia" id="colonia" maxlength="50">

            <label for="ciudad">Ciudad <span id="errCiudad" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="ciudad" id="ciudad" maxlength="50">

            <label for="codigoPostal">Codigo postal<span id="errCodigoPostal" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="codigoPostal" id="codigoPostal">

            <label for="fax">Fax<span id="errFax" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="fax" id="fax" maxlength="32">

            <label for="tipoProveedor">Tipo proveedor<span id="errTipoProveedor" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="tipoProveedor" id="tipoProveedor">
        </div>
    </form>
    <button type="button" id="btnGuardar" class="btn btn-success btn-lg btnGuardar">Guardar</button>
</div>
<div class="jumbotron row">
    <form id="formm" enctype="multipart/form-data">
        <label for="archivo">Documentos<span id="errRazSoc" class="errorPersonalizado"></span></label>
        <div class="form-control divFile">
            <input type="file" id="file1" name="file" multiple />
        </div>
    </form>
        <button type="button" id="btnGuardarArchivo" class="btn btn-success btn-lg btnGuardar">Guardar</button>
</div>

