@model AplicacionWebMVC.Models.Proveedores
@{
    ViewBag.Title = "Perfil";
}
<script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut(100);
            }, 1000);
        });
        var username = "@HttpContext.Current.User.Identity.Name";
        console.log(username);
</script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/cssP/perfilProveedor.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/sweetalert.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/vfs_fonts.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jsP/perfilProveedor.js")"></script>
@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}
<div class="loader"></div>
<div id="GetProveedorURL" data-request-url="@Url.Action("GetProveedor", "Proveedor")"></div>
<div id="UpdateProveedorURL" data-request-url="@Url.Action("ActualizarProveedor", "Proveedor")"></div>
<div id="UploadInfoProveedorURL" data-request-url="@Url.Action("UploadFilesInfoProveedor", "Proveedor")"></div>
<div id="CambiarPasswordURL" data-request-url="@Url.Action("CambiarPassword", "Proveedor")"></div>
<div class="jumbotron row" style="margin-top: 20px;">
    <h1 style="padding-left: 15px;">Información</h1>
    <form action="" name="infoPar" id="infoPar">
        <div class="div1 col-md-6">
            <label for="razSoc2">Razón social</label>
            @Html.EditorFor(model => model.razSoc2, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 255 })

            <label for="RFC">RFC<span id="errRFC" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "inputBox2", @readonly = "readonly" }, maxlength = 14 })

            <label for="direccion">Dirección <span id="errDireccion" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 60 })

            <label for="telefono">Telefono <span id="errTelefono" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 40 })

            <label for="representante">Representante<span id="errRepresentante" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.representante, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 60 })

        </div>
        <div class="div1 col-md-6">
            <label for="colonia">Colonia <span id="errColonia" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.colonia, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 50 })

            <label for="ciudad">Ciudad <span id="errCiudad" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.ciudad, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 50 })

            <label for="codigoPostal">Codigo postal<span id="errCodigoPostal" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.codigoPostal, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 255 })

            <label for="fax">Fax<span id="errFax" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 32 })

            <label for="tipoProveedor">Tipo proveedor<span id="errTipoProveedor" class="errorPersonalizado"></span></label>
            @Html.EditorFor(model => model.tipoProveedor, new { htmlAttributes = new { @class = "inputBox2" }, maxlength = 255 })
        </div>
    </form>
    <button type="button" id="btnGuardar" class="btn btn-success btn-lg btnGuardar">Guardar</button>
</div>
<div class="jumbotron row">
    <form id="formm" enctype="multipart/form-data">
        <label for="archivo">Documentos<span id="errRazSoc" class="errorPersonalizado"></span></label>
        <div class="form-control divFile">
            <input type="file" id="file" name="file" multiple />
        </div>
    </form>
    <button type="button" id="btnGuardarArchivo" class="btn btn-success btn-lg btnGuardar">Guardar</button>
</div>

<div class="jumbotron row" style="margin-top: 20px;">
    <h1 style="padding-left: 15px;">Cambiar contraseña</h1>
    <form action="" name="infoPar" id="infoPar">
        <div class="div1 col-md-12">
            <label for="passwordA">Contraseña anterior</label>
            <input type="text" class="inputBox2" name="passwordA" id="passwordA" maxlength="100">

            <label for="passwordN">Contraseña nueva</label>
            <input type="text" class="inputBox2" name="passwordN" id="passwordN" maxlength="100">

            <label for="passwordN2">Repetir contraseña nueva</label>
            <input type="text" class="inputBox2" name="passwordN2" id="passwordN2" maxlength="100">

        </div>
    </form>
    <button type="button" id="btnGuardarContraseña" class="btn btn-success btn-lg btnGuardar">Guardar</button>
</div>